<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!--



Why did I end up here?  Here's some details:

%(ErrMsg)s



-->
<html>
<head>
<title>Cannot Install TMDA</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="%(ThemeDir)s/styles.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#A6A6B3" text="#000000">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr height="135"> 
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td bgcolor="#7B7CB6" width="194"><img src="%(ThemeDir)s/corner.gif" width="194" height="135" alt="" title=""></td>
          <td background="%(ThemeDir)s/top_bg.gif" bgcolor="#7B7CB6"><img src="%(ThemeDir)s/title.png" alt="TMDA (http://tmda.net) CGI Interface" title="TMDA (http://tmda.net) CGI Interface" width="327" height="135"></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td valign="top" bgcolor="#FFFFFF"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" class="matte"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="150" valign="top" background="%(ThemeDir)s/left_bg.gif" bgcolor="#7B7CB6"><img src="%(ThemeDir)s/tail.gif" width="150" height="23"></td>
                <td valign="top" bgcolor="#FFFFFF" class="body"><h2>Cannot install 
                    TMDA. </h2>
                  <p>tmda-cgi has not been configured to auto-install TMDA on 
                    user accounts. If you wish to use TMDA, please contact your 
                    system administrator to get help in setting it up.</p>
                  <p><a href="%(Script)s?cmd=logout&SID=%(SID)s">Logout</a></p>
                  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
