<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
<title>tmda-cgi Program Error</title>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<link href="%(ThemeDir)s/styles.css" type="text/css">
</head>

<body bgcolor="#A6A6B3" text="#000000" link="#0000bb"  vlink="#551a8b"
  alink="#ff0000">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr height="135"> 
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td bgcolor="#7B7CB6" width="194"><img src="%(ThemeDir)s/corner.gif" width="194" height="135" title="" alt=""></td>
          <td background="%(ThemeDir)s/top_bg.gif" bgcolor="#7B7CB6"><img src="%(ThemeDir)s/title.png" title="TMDA (http://tmda.net) CGI Interface" alt="TMDA (http://tmda.net) CGI Interface" width="327" height="135"></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td valign="top" bgcolor="#FFFFFF"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" class="matte"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="150" valign="top" background="%(ThemeDir)s/left_bg.gif" bgcolor="#7B7CB6"><img src="%(ThemeDir)s/tail.gif" width="150" height="23"></td>
                <td valign="top" bgcolor="#FFFFFF" class="body">
%(ErrorMessage)s
<!-- var: Lavender="#C1C0DE" --><!-- var: Pink="#AEAEFF" -->
<!-- var: Purple="#7B7CB6" --><!-- var: Grey="#91A2BD" -->
                  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
