<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Uninstalled!</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="%(ThemeDir)s/styles.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#A6A6B3" text="#000000">
<table width="700" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr height="135"> 
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr> 
          <td bgcolor="#7B7CB6" width="194"><img src="%(ThemeDir)s/corner.gif" width="194" height="135" alt="" title=""></td>
          <td background="%(ThemeDir)s/top_bg.gif" bgcolor="#7B7CB6"><img src="%(ThemeDir)s/title.png" title="TMDA (http://tmda.net) CGI Interface" alt="TMDA (http://tmda.net) CGI Interface" width="327" height="135"></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td valign="top" bgcolor="#FFFFFF"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top" class="matte"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td width="150" valign="top" background="%(ThemeDir)s/left_bg.gif" bgcolor="#7B7CB6"><img src="%(ThemeDir)s/tail.gif" width="150" height="23"></td>
                <td valign="top" bgcolor="#FFFFFF" class="body">
<h2>TMDA has been successfully uninstalled</h2>
<p>Your e-mail account, <tt>%(EMail)s</tt>, is now open for receiving mail from 
  all sources.</p>
<!-- var: Restored -->
<p>Please note that the following file(s) in your personal directory have been 
  restored to the way they were set before you installed TMDA:</p>
<tt><!-- var: Row -->%(Filename)s<br><!-- /var (Row) --></tt>
<!-- /var (Restored) -->
<p>Your TMDA configuration has been archived in case you change your mind 
  again. This archive has been stored at:</p>
<p><tt>%(Archive)s</tt></p>
<p>You may delete this file if you choose, but if you do, TMDA can only be 
  reinstalled with its default settings. All list contents and changes to your 
  filters will be lost.</p>
<!-- var: Added -->
<p>The following file(s) have been added to your personal directory:</p>
<tt><!-- var: AddRow -->%(Filename)s<br><!-- /var (AddRow) --></tt>
<p>Typically, this is done to prevent any mail sent to a dynamic address from 
  bouncing. Removing these file(s) risks losing mail.</p>
<!-- /var (Added) -->
<h3>Special instructions from your system administrator:</h3>
<p>%(Instruct)s</p>
<!-- var: NoneInstruct="<b><i>None.</i></b>" -->
<p><a href="%(Script)s?cmd=logout&SID=%(SID)s">Logout</a></p>
                  </td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
